.techniques {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.techniques .section-title {
  margin: 0 auto;
  width: 60%;
}

.techniques .section-subtitle {
  margin: 20px auto 0;
  width: 60%;
}

.techniques .cards {
  margin-left: auto;
  margin-right: auto;
}
